.listItem-light:hover {
    background-color: rgb(62, 125, 231);
    color: rgb(255, 255, 255);
}

.listItem-dark:hover {
    background-color: rgb(62, 95, 150);
}

.listItem {
    transition: background-color 0.01s linear;
}